.list {
  display: block;
  background-color: lightblue;
  height: 30px;
  margin: 4px 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: transform 0.5s;
}

.list:hover {
  background-color: lightcoral;
  color: whitesmoke;
  transform: scale(1.2);
}

.selected {
  background-color: rgba(71, 195, 71, 0.764);
  font-weight: bold;
  color: white;
}

.backButton,
.nextButton {
  width: 30px;
  height: 30px;
  justify-items: center;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 10px;
}

.inline {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
  background-color: bisque;
  border-radius: 5px;
  text-decoration: none;
  font-size: 3vw;
  text-align: center;
}

#previousBtn {
  margin-right: 5px;
}
#nextBtn {
  flex: 1;
}

.inline:hover {
  background-color: burlywood;
}

#list {
  display: flex;
  flex-wrap: wrap;
}

body {
  background-image: linear-gradient(rgb(204, 240, 207), white);
  background-size: cover;
  background-attachment: fixed;
}
